@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&family=Poppins:wght@200;300&display=swap");

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#tutorial-div {
    display:none;
  }

.form-table{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  
}

.main-container {
    display: flex; 
    justify-content: center; 
    gap: 60px; 
    margin-top: 100px;
}
.logo {
    background: aliceblue;
} 
.main-text img {
    margin: auto;
    display: block;
}

.main-text {
 
    width: 700px;
    height: 600px;

    overflow-y: scroll;
    box-shadow: 0px 0px 5px 0px black;
  }
  
  .container{
      --light-color:#fff; 
      height: 600px;
      width:350px;
      background: (--light-color);
      
      box-shadow: 0px 0px 5px 0px black;
  }
  

select, input[type="text"]{
    width:100%;
    box-sizing:border-box;
  }

.submitButton {
    margin: auto;
    text-align: center;
    display: flex; 
  }