{% load static %}
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/end.js' %}" defer></script>
  </head>
  <body>
    <div class="startdiv"> 

    </br>  </br> 
    <h2> Fast geschafft! </h2>
    <div> 
    </br> 
  
    Bitte fülle noch folgenden Fragebogen aus: 
  </br> 
    </div>
    <a href="#" id ="myUniqueSurveyLinkId" > <button> Zur Umfrage </button> </a>
    </div>
  </body>
</html>

