
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" /> 
    <title>Datenschutz</title>

</head>
<body> 

    <div class="startdivgdpr"> 
    <h2 >Datenschutzerklärung</h2>
    </br>
          <a href="/label/">
            &lt; Zurück zur Startseite
         </a>
        </br>
      </br>
      
  
        Für welche Zwecke sollen personenbezogene Daten verarbeitet werden?:
      </br>
        <p>
          Ziel dieses Forschungsprojektes ist es, das Wohlbefinden bei der Bearbeitung von Aufgaben mit Informationssystemen zu untersuchen.
        </br> </br>
        Wer ist für die Datenverarbeitung verantwortlich und an wen können sich
        Betroffene wenden? 
      </p>
    </br>
  
        <p>
          Technische Universität Dresden </br>
          Ansprechpartner: </br>
          Professur für Wirtschaftsinformatik, insb. intelligente Systeme und
          Dienste </br>
          Prof. Dr. Alfred Benedikt Brendel </br>
          E-Mail: Alfred_Benedikt.Brendel@​tu-dresden.de </br>
          Tel: +49 (0)351 463 33082
        </p>
      </br>
    
        <p>
          Technische Universität Dresden </br>
          Datenschutzbeauftragter: </br>
          Herr Jens Syckor </br>
          01062 Dresden</br>
          E-Mail: informationssicherheit@tu-dresden.de</br>
          Tel.: +49 (0)351 463 32839
        </p>
      </br>
    
        Auf welcher Rechtsgrundlage erfolgt die Verarbeitung personenbezogener
        Daten?</br></br>
      
    
        <p>
          Die Rechtsgrundlage für die Datenverarbeitung zu den oben genannten Z
          wecken ist Art. 6 Abs. 1 UAbs. 1 lit. a DSGVO (Einwilligung).
        </p>
    
        Welche personenbezogenen Daten werden verarbeitet?
   
        <p>
          Im Rahmen des Experiments werden keine personenbezogenen Daten
          erfasst. Ihre IP-Adresse wird übermittelt, jedoch nicht gespeichert.
          
        </p></br>
      
        Wie lange werden personenbezogene Daten verarbeitet/gespeichert?</br></br>
  
        <p>
          Auf Grund der erhobenen Daten (E-Mail-Adresse) können Rückschlüsse auf
           konkrete Personen gezogen werden. Die personenbezogenen Daten werden
           gelöscht, sobald die Verlosung und Übermittlung der Gutscheine
           erfolgt ist (spätestens mit Abschluss der Studie).
        </p></br></br>
    
        Werden personenbezogene Daten an Dritte übermittelt?</br></br>
  
        <p>
          <b>Hosting</b><br>
          Diese Seite wird über den Service „Microsoft Azure App Service“ des Hostinganbieters 
          Microsoft Corporation One Microsoft Way Redmond, WA 98052-6399, USA betrieben. App Service
          erhält Zugriff auf Ihre IP-Adresse, Browser- sowie Geräte- und
          Betriebssysteminformationen. Heroku kann in Ihrem Browser sog.
          Cookies (kleine Textdateien) setzen. Die Datenschutzbestimmungen
          von Salesforce finden Sie <a href="https://www.salesforce.com/de/company/privacy/">hier</a>.
        </p>
        <p>
          <b>Klassifikationsexperiment</b><br>
          Innerhalb des Experiments werden an keiner Stelle persönliche Daten
          abgefragt oder benötigt. Um Informationen, die während des Experiments
          anfallen (z.B. Klassfikationsgenauigkeit), 
          zu verarbeiten, können in
          Ihrem Browser sog. Cookies (kleine Textdateien) gesetzt werden.<br>
          
        </p>
        <p>
          <b>Umfrage</b><br>
          Die Daten der Umfrage werden im Rahmen einer Auftragsverarbeitung von
          LiveSurvey verarbeitet. Auch dieser Dienst wird in Kooperation mit der TU Dresden
          angeboten und erhält Zugriff auf Ihre IP-Adresse, Browser- sowie
          Geräte- und Betriebssysteminformationen. LimeSurvey kann in Ihrem
          Browser sog. Cookies (kleine Textdateien) setzen.
          Die Datenschutzbestimmungen
          von LimeSurvey finden Sie <a href="https://www.limesurvey.org/de/datenschutzhinweise">hier</a>.
          
        </p>
  
    
        Erfolgt eine Veröffentlichung personenbezogener Daten?
   
 
        <p>
          Die Forschungsergebnisse werden in wissenschaftlich üblicher Form
          veröffentlicht. Wir sichern zu, dass aus den Veröffentlichungen
          keinerlei Rückschlüsse auf konkrete natürliche Personen möglich sind.
        </p>
      </br>
        Welche Rechte haben Betroffene grundsätzlich?
      </br></br>
        <p>
          <b> 1) Freiwilligkeit und Widerruf nach Art. 7 Abs. 3 DSGVO</b></br>
          Die Einwilligung erfolgt freiwillig. Durch eine Nichtteilnahme oder
          einen Abbruch entstehen Ihnen keine Nachteile. Die Einwilligung kann
          jederzeit nach Art. 7 Abs. 3 DSGVO mit der Folge widerrufen werden,
          dass die personenbezogenen Daten der betreffenden Person nicht
          weiterverarbeitet werden. Die Rechtmäßigkeit der aufgrund der
          Einwilligung bis zum Widerruf erfolgten Verarbeitung bleibt hiervon
          unberührt. Bei einem Widerruf wird die E-Mail-Adresse gelöscht. </br>
        </p>
        <p>
          <b> 2) Auskunftsrecht (Art. 15 DSGVO) </b> </br>
          Die Betroffenen haben das Recht, jederzeit Auskunft über die zu ihrer
          Person verarbeiteten Daten sowie die möglichen Empfänger dieser Daten
          verlangen zu können. Ihnen steht eine Antwort innerhalb einer Frist
          von einem Monat nach Eingang des Auskunftsersuchens zu. </br>
        </p>
        <p>
          <b>3) Recht auf Berichtigung, Löschung und Einschränkung (Art. 16 –
            18 DSGVO)</b> </br>
          Die Betroffenen können jederzeit gegenüber der TU Dresden die
          Berichtigung oder Löschung ihrer personenbezogenen Daten oder die
          Einschränkung der Verarbeitung verlangen.</br>
        </p>
        <p>
          <b>4) Recht auf Datenübertragbarkeit (Art. 20 DSGVO)</b></br>
          Die Betroffenen können verlangen, dass der Verantwortliche ihnen ihre
          personenbezogenen Daten in einem maschinenlesbaren Format übermittelt.
          Alternativ können sie die direkte Übermittlung der von ihnen
          bereitgestellten personenbezogenen Daten an einen anderen
          Verantwortlichen verlangen, soweit dies möglich ist.</br>
        </p>
        <p>
          <b>5) Beschwerderecht (Art. 77 DSGVO)</b></br>
          Betroffene Personen können sich jederzeit an den
          Datenschutzbeauftragten der TU Dresden (s.o.) sowie bei einer
          Beschwerde nach Art. 77 DSGVO an die zuständige Aufsichtsbehörde zum
          Datenschutz wenden. Die zuständige Aufsichtsbehörde ist:</br>
          Sächsischer Datenschutzbeauftragter </br>
          Postfach 11 01 32 </br>
          01330 Dresden </br>
          E-Mail: saechsdsb@slt.sachsen.de </br>
          Tel.: +49 (0)351 85471 101 </br>
        </p>
        <p>
          <b>Hinweis:</b> Zur Inanspruchnahme der Rechte genügt eine Mitteilung
          in Textform (Brief oder E-Mail) an den Verantwortlichen.
          Die Inanspruchnahme der Rechte entfaltet jedoch nur eine Wirkung,
          wenn die verarbeiteten Daten eine Identifizierung einer natürlichen
          Person zulassen.
        </p>
      </br>
  
          <a href="/label/">
            &lt; Zurück zur Startseite
         </a>
    
  <br>
  <br>
</div>

</body>
</html>

