{% load static %}
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/app.js' %}" defer></script>
    <script src="{% static 'js/response.js' %}" defer></script>
    <script src="{% static 'js/cookieMonitoring.js' %}" defer></script>
  </head>
  <body>
  
    <div class="main-container"> 
    <div class="main-text">
      {% for x in data %}
      <img src="{% static x.title  %}" alt="Trash" style="width: 60%" />

      <form action="" id ="labelform" onsubmit="updateCookie();" method="post" onkeydown="return event.key != 'Enter';">
        {% csrf_token %}
        <br />
        <input type="hidden" name="imageid" value="{{x.ImageID}}" />
        <table class="form-table">
          {{ form.as_table }}
        </table>
        <br />
        {% endfor %}
       
        
      </form>
      <input type="submit" form="labelform" value="Weiter" class="submitButton"> 
    </div>
  </div>
  </body>
</html>

