{% load static %}
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/app.js' %}" defer></script>
    <script src="{% static 'js/cookieMonitoring.js' %}" defer></script>
    <script src="{% static 'js/response.js' %}" defer></script>
  </head>
  <body onload = "renderChatbotmessage('TutorialBot');">
    <div class="main-container"> 

    <div class="main-text">
      {% for x in data %}
      <img src="{% static x.title  %}" alt="Trash" style="width:  60%" />

      <form id="labelform" action="/label/3/" method="post" onkeydown="return event.key != 'Enter';">
        {% csrf_token %}
        <br />
        <input type="hidden" name="imageid" value="{{x.ImageID}}" />
        <table class="form-table">
          {{ form.as_table }}
        </table>
        <br />
        {% endfor %}
        
      </form>
      
    </div>

    <div class="container">
      <div class="chat-header">
        <div class="logo">
          <img src="{% static 'images/robot.jpg' %}" alt="humanlike" />
        </div>

        <div class="title">Assistent</div>
      </div>
      <div class="chat-body">
       <div class="loading hide">
       
          <div class="circle circle-1"></div>
          <div class="circle circle-2"></div>
          <div class="circle circle-3"></div>
        </div>
      </div>

      <div class="chat-shortcuts">
        <button onclick="setMessage('Start')">  &#x270D; Start </button>
      </div>

      <div class="chat-input">
        
        <div class="input-sec">
          
          <input type="text" id="txtinput" placeholder="Nachricht eingeben" />
        </div>
        <div class="send">
          <img src="{% static 'images/send.svg' %}" alt="send" />
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
